.button {
  box-sizing   : border-box;
  width        : 100%;
  height       : 60px;
  padding      : 12px 10px;
  border-radius: 10px;

  font-size  : 18px;
  font-weight: 500;
  color      : white;
}

.thin {
  display        : flex;
  align-items    : center;
  justify-content: center;
  height         : 43px;

}

.valid {
  border          : 1px solid #4849e833;
  background-color: #4949E9;
}

.invalid {
  border          : 1px solid #60606019;
  background-color: #dedede;
}

.loading {
  border          : none;
  background-color: #bebebe;
}
