.button {
  box-sizing   : border-box;
  width        : 100%;
  height       : 60px;
  padding      : 12px 10px;
  border       : 1px solid #4849e814;
  border-radius: 10px;

  font-size  : 18px;
  font-weight: 500;
  color      : white;
}

.valid {
  background-color: #4949E9;
}

.invalid {
  background-color: #dedede;
}
