.chat-bubble-container {
  display        : flex;
  align-items    : flex-end;
  justify-content: flex-end;
  width          : 100%;

}

.mine.chat-bubble-container {
  flex-direction: row;
}

.others.chat-bubble-container {
  flex-direction: row-reverse;
}

.time-span {
  margin     : 0 4px;
  font-size  : 10px;
  font-weight: 300;
  color      : #666;
}

.chat-bubble {
  box-sizing   : border-box;
  max-width    : 77.7%;
  padding      : 8px 16px;
  border-radius: 10px;

  font-weight: 300;
  line-height: 150%;
}

.mine .chat-bubble {
  color           : white;
  background-color: #4949e9;
}

.others .chat-bubble {
  color           : #3f3f3f;
  background-color: white;
}
