.description {
  margin     : 70px 20px 0;
  font-size  : 24px;
  font-weight: 600;
  line-height: 150%;
}

.form {
  padding: 30px 10px;
}

.id-input {
  padding-bottom: 10px;
}

.error-message {
  height      : 21px;
  padding-top : 10px;
  padding-left: 10px;

  font-size: 14px;
  color    : #ff321b;
}

.login-button {
  margin-top: 23px;
}

.register-span {
  font-size : 14px;
  color     : #666;
  text-align: center;
}

.register {
  cursor         : pointer;
  text-decoration: underline;
}

.register:visited {
  color: inherit;
}
