.message {
  display: block;

  box-sizing : border-box;
  height     : 40px;
  margin-top : 10px;
  margin-left: 10px;

  font-size  : 14px;
  line-height: 150%;
}

.error {
  font-weight: 500;
  color      : #ff321b;

}
