.empty-container {
  display        : flex;
  align-items    : center;
  justify-content: center;

}

.sona-container {
  position: relative;
}

.blur {
  position : absolute;
  z-index  : 1;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);

  background: radial-gradient(circle, #7ea3ff 0%, transparent 100%);
  filter    : blur(30px);
}

.sona {
  position: relative;
  z-index : 2;
}

.sona-text {
  font-size  : 16px;
  line-height: 1.5;
  color      : #666;
  text-align : center;
}
